#container{
	background-color: #292a2d;
	border: 1px solid;
	border-color: #304d4a;
}

#title_label{
	background-color: transparent;
	color: rgb(191, 192, 194);
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;	
	font-size: 16px;
}

#toolbar{
	background-color: #1c1c1c;
	border: 1px solid;
	border-color: #304d4a;
}

#footer{
	border-top: 1px solid;
	border-top-color: #304d4a;
}
