#container{
	background-color: #292a2d;
}

#app_title{
	background-color: transparent;
	color: rgb(106, 190, 190);
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;	
}

#toolbar{
	background-color: #1c1c1c;
	border-bottom: 1px solid;
	border-bottom-color: #304d4a;
}

#footer{
	border-top: 1px solid;
	border-top-color: #304d4a;
}

#url_textbox{
	background-color: #304d4a;
	border: 1px;
	border-radius: 10px;
	color: rgb(191, 192, 194);
}

#error{
	color: rgba(245, 90, 90, 0.849);
}